<app-adminheader></app-adminheader>
<div *ngIf="usertype==1"><app-adminleftsidebar></app-adminleftsidebar>
  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
    <div class="dashboard_right_wrapper">
      <div class="dashboard1_div1 ">
        <h4>Change Password</h4>
        <div class="dashboard1form">

          <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
            <div class="has-error" *ngIf="is_error">{{is_error}}</div>

            <label>Old Password</label>
            <input type="text" class="form-control" placeholder="Old Password" [formControl]="dataForm.controls['oldpassword']">
            <span *ngIf ="dataForm.controls['oldpassword'].touched && !dataForm.controls['oldpassword'].valid">Password is Required !</span>


            <label>New Password</label>
            <input type="text" class="form-control" placeholder="New Password" [formControl]="dataForm.controls['password']">
            <span class="has-error" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Minimum length for password is 8!</span>



            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm Password"  [formControl]="dataForm.controls['confpassword']">
            <span class="has-error" *ngIf ="dataForm.controls['confpassword'].touched && !dataForm.controls['confpassword'].valid">Please fill in the required field.</span>
            <div class="has-error" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confpassword'].valid ">
              <strong>Passwords must match</strong>
            </div>

            <input type="submit" value="Update" class="loginbtn2">
          </form>


        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="usertype==2" ngClass="wrappercontain2">
  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
    <div class="dashboard_right_wrapper">
      <div class="dashboard1_div1 ">
        <h4>Change Password</h4>
        <div class="dashboard1form">

          <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
            <div class="has-error" *ngIf="is_error">{{is_error}}</div>

            <label>Old Password</label>
            <input type="text" class="form-control" placeholder="Old Password" [formControl]="dataForm.controls['oldpassword']">
            <span *ngIf ="dataForm.controls['oldpassword'].touched && !dataForm.controls['oldpassword'].valid">Password is Required !</span>


            <label>New Password</label>
            <input type="text" class="form-control" placeholder="New Password" [formControl]="dataForm.controls['password']">
            <span class="has-error" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Minimum length for password is 8!</span>



            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm Password"  [formControl]="dataForm.controls['confpassword']">
            <span class="has-error" *ngIf ="dataForm.controls['confpassword'].touched && !dataForm.controls['confpassword'].valid">Please fill in the required field.</span>
            <div class="has-error" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confpassword'].valid ">
              <strong>Passwords must match</strong>
            </div>

            <input type="submit" value="Update" class="loginbtn2">
          </form>


        </div>

      </div>
    </div>
  </div>
</div>