<app-adminheader></app-adminheader>
<app-adminleftsidebar></app-adminleftsidebar>
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 table-responsive">
      <h4>Post List</h4>

      <div style=" padding-bottom: 10px; width: 100%;">

        <div class="adminserchdiv">
          <label>Search :</label> <input type="text" #listFilter (keyup)="0">
        </div>

        <a [routerLink]="['/postmanagement']" class="adadminlink">Add Post</a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class=" tabledivnew">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>#</th>
            <th>Title <b [ngClass]="getSortClass('title')" (click)="manageSorting('title')" ></b></th>
            <th>Selected Post Category<b [ngClass]="getSortClass('postlist')" (click)="manageSorting('postlist')" ></b></th>
            <th>Image</th>
            <th>Content<b [ngClass]="getSortClass('content')" (click)="manageSorting('content')" ></b></th>
            <th>Link<b [ngClass]="getSortClass('link')" (click)="manageSorting('link')" ></b></th>
            <th>Priority<b [ngClass]="getSortClass('priority')" (click)="manageSorting('priority')" ></b></th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          <!--<p #textcontent id="read-more">{{item.content}}</p>-->
          <tbody *ngFor="let item of datalist | orderBy:orderbyquery:orderbytype | usersearch:listFilter.value; let i = index">
          <tr *ngIf=" i>=pagestart && i < pageinitation">
            <td>{{i+1}}</td>
            <!--   <div class="read-more-link">
		 <a readMore [readMore-length]="430" [readMore-element]="textcontent">
		 	<span class="less">Less <i class="fa fa-angle-right" aria-hidden="true"></i></span>
		 	<span class="more">More <i class="fa fa-angle-right" aria-hidden="true"></i></span>
		 </a>
	 </div>-->
            <td>{{item.title}}</td>
            <td>{{item.PostManegementdata.firstname}}</td>
            <td *ngIf="item.image"><img width="100%" src="../../assets/images/uploads/{{item.image}}" ></td>
            <td *ngIf="item.image==''"><img  width="100%" src="../../assets/images/newlogo.png" ></td>
            <td>{{item.content.substr(0,35)}} <p (click)="showcontents(item._id)" class="viewmorelink">view more</p></td>
            <td><a href="{{item.link}}/{{logid}}" target="_blank" class="newlink1">{{item.link}}</a></td>
            <td>{{item.priority}}</td>
            <td *ngIf="item.status==true">Active</td>
            <td *ngIf="item.status==false">Inactive</td>
            <td><a [routerLink]="['/editpostmanagementcategory',item._id]">Edit</a>
              <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" (click)="delConfirm(item._id)">Delete</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination paginationdiv">
    <ul class="pagination--items">
      <li class="pagination--item">
        <label>
          Go to: </label>
        <input type="text" [(ngModel)]="pageno" (blur)="pageval(3)">
        <div class="clearfix"></div>

      </li>
      <li class="pagination--item">
        <label>
          Show rows:</label>
        <select [(ngModel)]="showrows" (click)="chagevalues()">
          <option>5</option>
          <option>10</option>
          <option>25</option>
        </select>
        <div class="clearfix"></div>

      </li>
      <li class="pagination--item" >  <label>Page {{pageno}} of {{totalpage}}</label></li>
      <li class="pagination--item" >
        <img src="../../assets/images/pageprev.png" alt="#" (click)="pageval(1)">

        <img src="../../assets/images/pagenext.png" alt="#" (click)="pageval(2)">
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>


<div *ngIf="isModalShown1" class="modal fade" (onHidden)="onHidden(1)" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm delete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this admin?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="postcategorydel()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--<app-footer></app-footer>-->

<div *ngIf="isModalShown2" class="modal fade" (onHidden)="onHidden(2)" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="popupdivblock">
          <div class="popupimg"><img src="../assets/images/newlogo.png"></div>
          <p>1</p>
          <h3>{{contentdetails.content}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

