<head>
    <title>My title</title>
<meta id="mtitle" content="Posting Url With Hashtags · Issue #77 · jublonet/codebird-php" property="og:title" />
<meta content="I am trying to post a url with a hashtag in it. Encoding the hashtag does not work, and I do not know how to use intent structure mentioned here with Codebird: https://dev.twitter.com/discussions/5..." property="og:description" />
<meta content="https://github.com/jublonet/codebird-php/issues/77" property="og:url" />
<meta content="https://avatars3.githubusercontent.com/u/310320?v=4&amp;s=400" property="og:image" />
</head>