<div class="container-fluid login_bgnewwrapper">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="middle">
        <img src="../assets/images/newlogo.png"  alt="#" class="loginlogo"/>
        <div class="loginlockicon"> <img src="../assets/images/lockicon.png"  alt="#" /></div>

        <div class="login_wrapper_body">
          <div class="login_heading">
            <div class="login_heading_sub">
              <h2> Recover Your Account </h2>
            </div>
          </div>


          <div class="login_formbox_wrapper">
            <form role="form"  novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
              <div class="error_class2" *ngIf="is_error">{{is_error}}</div>
              <label>Email:</label>
              <input  class="inputtext"  type="email" name="email_address" maxlength="255" value="" placeholder="Email" [formControl]="dataForm.controls['email']">
              <span  class="errortext" *ngIf ="dataForm.controls['email'].touched && getemail('blank')==true">Email is Required !</span>
              <span  class="errortext" *ngIf ="dataForm.controls['email'].touched && getemail('invalid')==true">Email is not valid!</span>

              <input type="submit" value="Submit" class="loginbtnnew">
            </form>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

