
<app-adminheader></app-adminheader>
<div *ngIf="usertype==1"><app-adminleftsidebar></app-adminleftsidebar>
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 table-responsive">
      <h4>Lead Details</h4>

      <div style=" padding-bottom: 10px; width: 100%;">

        <div class="adminserchdiv">
          <label>Search :</label> <input type="text" #listFilter (keyup)="0">
        </div>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="tablediv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>#</th>
            <th>Name <b [ngClass]="getSortClass('name')" (click)="manageSorting('name')" ></b></th>
            <th>Email<b [ngClass]="getSortClass('email')" (click)="manageSorting('email')" ></b></th>
            <th>Phone<b [ngClass]="getSortClass('phone')" (click)="manageSorting('phone')" ></b></th>
            <th>Zip<b [ngClass]="getSortClass('zip')" (click)="manageSorting('zip')" ></b></th>
          </tr>


          <tbody *ngFor="let item of datalist | orderBy:orderbyquery:orderbytype | usersearch:listFilter.value; let i = index">
          <tr *ngIf=" i>=pagestart && i < pageinitation">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.zip}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination paginationdiv">
    <ul class="pagination--items">
      <li class="pagination--item">
        <label>
          Go to: </label>
        <input type="text" [(ngModel)]="pageno" (blur)="pageval(3)">
        <div class="clearfix"></div>

      </li>
      <li class="pagination--item">
        <label>
          Show rows:</label>
        <select [(ngModel)]="showrows" (click)="chagevalues()">
          <option>5</option>
          <option>10</option>
          <option>25</option>
        </select>
        <div class="clearfix"></div>

      </li>
      <li class="pagination--item" >  <label>Page {{pageno}} of {{totalpage}}</label></li>
      <li class="pagination--item" >
        <img src="../../assets/images/pageprev.png" alt="#" (click)="pageval(1)">

        <img src="../../assets/images/pagenext.png" alt="#" (click)="pageval(2)">
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
</div>


<div *ngIf="usertype==2" ngClass="wrappercontain2">
<!--  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">-->
    <div class="dashboard_right_wrapper">
      <div class="dashboard1_div1 table-responsive">
        <h4>Lead Details</h4>

        <div style=" padding-bottom: 10px; width: 100%;">

          <div class="adminserchdiv">
            <label>Search :</label> <input type="text" #listFilter (keyup)="0">
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="tablediv">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th>#</th>
              <th>Name <b [ngClass]="getSortClass('name')" (click)="manageSorting('name')" ></b></th>
              <th>Email<b [ngClass]="getSortClass('email')" (click)="manageSorting('email')" ></b></th>
              <th>Phone<b [ngClass]="getSortClass('phone')" (click)="manageSorting('phone')" ></b></th>
              <th>Zip<b [ngClass]="getSortClass('zip')" (click)="manageSorting('zip')" ></b></th>
            </tr>


            <tbody *ngFor="let item of datalist | orderBy:orderbyquery:orderbytype | usersearch:listFilter.value; let i = index">
            <tr *ngIf=" i>=pagestart && i < pageinitation">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.zip}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pagination paginationdiv">
      <ul class="pagination--items">
        <li class="pagination--item">
          <label>
            Go to: </label>
          <input type="text" [(ngModel)]="pageno" (blur)="pageval(3)">
          <div class="clearfix"></div>

        </li>
        <li class="pagination--item">
          <label>
            Show rows:</label>
          <select [(ngModel)]="showrows" (click)="chagevalues()">
            <option>5</option>
            <option>10</option>
            <option>25</option>
          </select>
          <div class="clearfix"></div>

        </li>
        <li class="pagination--item" >  <label>Page {{pageno}} of {{totalpage}}</label></li>
        <li class="pagination--item" >
          <img src="../../assets/images/pageprev.png" alt="#" (click)="pageval(1)">

          <img src="../../assets/images/pagenext.png" alt="#" (click)="pageval(2)">
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
<!--  </div>-->
</div>



