<div class="container-fluid login_bgnewwrapper">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="middle">
        <img src="../assets/images/newlogo.png"  alt="#" class="loginlogo"/>
        <div class="loginlockicon"> <img src="../assets/images/lockicon.png"  alt="#" /></div>
        <div class="login_wrapper_body">
          <div class="login_heading">
            <div class="login_heading_sub">
              <h2> New Password </h2>
            </div>
          </div>

          <div class="login_formbox_wrapper">
            <form novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
              <div class="error_class2" *ngIf="is_error">{{is_error}}</div>
              <label>New Password:</label>
              <input type="password" name="password" id="password" class="inputtext" maxlength="255" value="" placeholder="Password" [formControl]="dataForm.controls['password']">
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Minimum length for password is 8!</span>

              <label>Confirm Password:</label>
              <input type="password" name="password" id="password1" class="inputtext" maxlength="255" value="" placeholder="Confirm Password" [formControl]="dataForm.controls['confpassword']">
              <span class="errortext" *ngIf ="dataForm.controls['confpassword'].touched && !dataForm.controls['confpassword'].valid">Please fill in the required field.</span>
              <span class="errortext" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confpassword'].valid ">Passwords must match</span>
              <div id="controls_area" class="col-xs-12 form-group2">
                <div id="submit_box" class="col-xs-4 login_bottomwrapper">
                  <input type="submit" value="change password" class="loginbtnnew">
                </div>
              </div>
            </form>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>