
<app-adminheader></app-adminheader>

<div *ngIf="usertype==1"><app-adminleftsidebar></app-adminleftsidebar>
<div class="page-wrapper">
  <div class="blockmaininner">
    <div class="row">
      <div class="col-lg-12">
        <div class="cusdashboardblock3">
          <h4>All Posts </h4>
            <div class="adminserchdiv2">
                <label>Search :</label> <input type="text" #listFilter (keyup)="0">
            </div>
          <div class="clearfix"></div>
          <div class="cusactivediv" *ngFor="let item of datalist  | usersearch:listFilter.value; let i = index">
              <h2>
                                <span >

                                    <table width="100%">
                                        <tr>


                                     <td>
                                    <label class="spandivblock">
                                    <h6>
                                    {{item.title}}
                                    </h6>
                                        <h3>{{item.content}}</h3>
                                        <!--<img width="60px" height="60px" src="../../assets/images/uploads/{{item.image}}"  class="td_imgblock">-->
                                         <td *ngIf="item.image"><img width="60px" height="60px" src="../../assets/images/uploads/{{item.image}}" ></td>
            <td *ngIf="item.image==''"><img width="60px" height="60px" src="../../assets/images/newlogo.png" ></td>
                                        <h5> {{item.link}}</h5>
                                       <div class="socialiconimg_boX"> <img src="../assets/images/fbicon1.png" alt="#" class="socialiconimg">
                                        <img src="../assets/images/twicon1.png" alt="#" class="socialiconimg" (click)="calltwitterpost(item.title,item.link, item.image)">
                                        <img src="../assets/images/inicon1.png" alt="#" class="socialiconimg" (click)="calllinkedinpost(item.title,item.link,item.content,item.image)">
                                        <img src="../assets/images/tumblr-icon.png" alt="#" class="socialiconimg" (click)="calltumblrpost(item.title,item.link,item.content,item.image)">
                                    </div>
                                    </label>
                                            </td>

                                         </tr>

                                    </table>
                                </span>


                <div class="clearfix"></div>

              </h2>

          </div>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="usertype==2" ngClass="wrappercontain2">
    <div class="page-wrapper">
        <div class="blockmaininner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cusdashboardblock3">
                        <h4>All Posts </h4>
                        <div class="adminserchdiv2">
                            <label>Search :</label> <input type="text" #listFilter (keyup)="0">
                        </div>
                        <!--<a (click)="logout()" class="newlogoutbtn">Log out</a>-->
                        <!--<a [routerLink]="['/dashboard']"  class="newviewallbtn">Dashboard</a>-->
                        <div class="clearfix"></div>
                        <div class="cusactivediv" *ngFor="let item of datalist  | usersearch:listFilter.value; let i = index">
                            <h2>
                                <span >

                                    <table width="100%">
                                        <tr>


                                     <td>
                                    <label class="spandivblock">
                                    <h6>
                                    {{item.title}}
                                    </h6>
                                        <h3>{{item.content}}</h3>
                                        <!--<img width="60px" height="60px" src="../../assets/images/uploads/{{item.image}}"  class="td_imgblock">-->
                                         <td *ngIf="item.image"><img width="60px" height="60px" src="../../assets/images/uploads/{{item.image}}" ></td>
            <td *ngIf="item.image==''"><img width="60px" height="60px" src="../../assets/images/newlogo.png" ></td>
                                        <h5> {{item.link}}</h5>
                                       <div class="socialiconimg_boX"> <img src="../assets/images/fbicon1.png" alt="#" class="socialiconimg">
                                        <img src="../assets/images/twicon1.png" alt="#" class="socialiconimg" (click)="calltwitterpost(item.title,item.link, item.image)">
                                        <img src="../assets/images/inicon1.png" alt="#" class="socialiconimg" (click)="calllinkedinpost(item.title,item.link,item.content,item.image)">
                                        <img src="../assets/images/tumblr-icon.png" alt="#" class="socialiconimg" (click)="calltumblrpost(item.title,item.link,item.content,item.image)">
                                    </div>
                                            </label>
                                            </td>

                                         </tr>

                                    </table>
                                </span>


                                <div class="clearfix"></div>

                            </h2>

                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




