<app-adminheader></app-adminheader>
<div *ngIf="usertype==1"><app-adminleftsidebar></app-adminleftsidebar>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
        <div class="row">
            <div class="col-lg-12">
                <div class="cusdashboardblock3">
                    <h4>Subscribed Posts </h4>
                    <div class="clearfix"></div>
                    <div class="cusactivediv" *ngFor="let item of datalist ; let i = index">
                        <h2>
                            <span >
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <label class="spandivblock" *ngFor="let itemn of item.PostManegementdata">
                                                <h6>
                                                    {{itemn.title}}
                                                </h6>
                                                <h3>{{itemn.content}}</h3>
                                                <img width="60px" height="60px" src="../../assets/images/uploads/{{itemn.image}}"  class="td_imgblock">
                                                <h5> {{itemn.link}}</h5>
                                            </label>
                                        </td>
                                        <!-- <td>
                                                    <div class="new_input_wrapper"> <input class="newinput1" type="button" value="View Post" (click)="showdetails(item._id)"></div>
                                                </td>-->
                                    </tr>
                                </table>
                            </span>
                            <div class="clearfix"></div>
                        </h2>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="usertype==2" ngClass="wrappercontain2">
   <!-- <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">-->
        <div class="row">
            <div class="col-lg-12">
                <div class="cusdashboardblock3">
                    <h4>Subscribed Posts </h4>
                    <div class="clearfix"></div>
                    <div class="cusactivediv" *ngFor="let item of datalist ; let i = index">
                        <h2>
                            <span >
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <label class="spandivblock" *ngFor="let itemn of item.PostManegementdata">
                                                <h6>
                                                    {{itemn.title}}
                                                </h6>
                                                <h3>{{itemn.content}}</h3>
                                                <img width="60px" height="60px" src="../../assets/images/uploads/{{itemn.image}}"  class="td_imgblock">
                                                <h5> {{itemn.link}}</h5>
                                            </label>
                                        </td>
                                        <!-- <td>
                                                     <div class="new_input_wrapper"> <input class="newinput1" type="button" value="View Post" (click)="showdetails(item._id)"></div>
                                                 </td>-->
                                    </tr>
                                </table>
                            </span>
                            <div class="clearfix"></div>
                        </h2>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<!--</div>-->
